In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [7]:
df = pd.read_csv("trip_data.csv")
df.head()

,Duration,Start date,End date,Start station,End station,Bike#,Member Type
0,0h 1min. 50sec.,3/31/2011 23:58,4/1/2011 0:00,14th & Harvard St NW (31105),16th & Harvard St NW (31103),W00749,Registered
1,0h 16min. 21sec.,3/31/2011 23:52,4/1/2011 0:08,19th & L St NW (31224),7th & Water St SW / SW Waterfront (31609),W01048,Casual
2,0h 3min. 19sec.,3/31/2011 23:47,3/31/2011 23:50,Lincoln Park / 13th & East Capitol St NE (31619),13th & H St NE (31611),W00340,Registered
3,0h 5min. 44sec.,3/31/2011 23:45,3/31/2011 23:50,14th & R St NW (31202),Massachusetts Ave & Dupont Circle NW (31200),W00981,Registered
4,0h 8min. 42sec.,3/31/2011 23:34,3/31/2011 23:43,Park Rd & Holmead Pl NW (31602),15th & P St NW (31201),W00449,Registered

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150071 entries, 0 to 150070
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Duration       150071 non-null  object
 1   Start date     150071 non-null  object
 2   End date       150071 non-null  object
 3   Start station  150071 non-null  object
 4   End station    150060 non-null  object
 5   Bike#          150071 non-null  object
 6   Member Type    150071 non-null  object
dtypes: object(7)
memory usage: 8.0+ MB

In [12]:
# Preprocess the data
# Convert categorical data to numerical using LabelEncoder
label_encoder = LabelEncoder()
df['Start station'] = label_encoder.fit_transform(df['Start station'])
df['End station'] = label_encoder.fit_transform(df['End station'])
df['Bike#'] = label_encoder.fit_transform(df['Bike#'])
df['Member Type'] = label_encoder.fit_transform(df['Member Type'])

In [13]:

# Prepare features and target
X = df[['Start station', 'End station', 'Bike#']]
y = df['Member Type']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
# Train a Decision Tree classifier
classifier = DecisionTreeClassifier(random_state=42)
classifier.fit(X_train, y_train)

# Predict and evaluate
y_pred = classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print(f'Accuracy: {accuracy}')

Accuracy: 0.7959020489755122